# LOOP

While Loop

In [1]:
i=0

In [2]:
while i<5:
    print('Hello Hex')
    i+=1

Hello Hex
Hello Hex
Hello Hex
Hello Hex
Hello Hex

For Loop

In [3]:
x='python'

In [5]:
for i in x:
    print('Hello HEX')

Hello HEX
Hello HEX
Hello HEX
Hello HEX
Hello HEX
Hello HEX

In [9]:
for i in range(10):
    print('Hello Hex')

Hello Hex
Hello Hex
Hello Hex
Hello Hex
Hello Hex
Hello Hex
Hello Hex
Hello Hex
Hello Hex
Hello Hex

Print square of first 10 Natural Numbers.

In [12]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [13]:
print('*')
print('* *')
print('* * *')

*
* *
* * *

In [19]:
for i in range(1,6):
    for j in range(1,i):
        print('*',end=' ')
    print('\n')

*

* *

* * *

* * * *

In [21]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [27]:
for i in range(1,6):
    for j in range(1,i):
        print(j,end=' ')
    print('\n')

1

1 2

1 2 3

1 2 3 4

In [28]:
import random

In [31]:
x= random.randint(1,100)

In [32]:
x

57

In [33]:
import random as rd

In [36]:
x=rd.randint(1,100)
score=10
while True:
    y = int(input('Enter a Number: '))
    if y==x:
        print('Guess is Correct')
        break
    else:
        score-=1
        print('Try Again')
print('Your Score is ',score)

Enter a Number: 84
Try Again
Enter a Number: 57
Try Again
Enter a Number: 96
Try Again
Enter a Number: 1
Try Again
Enter a Number: 2
Try Again
Enter a Number: 3
Try Again
Enter a Number: 4
Try Again
Enter a Number: 3
Try Again
Enter a Number: 5
Try Again
Enter a Number: 6
Try Again
Enter a Number: 7
Try Again
Enter a Number: 8
Try Again
Enter a Number: 9
Try Again
Enter a Number: 10
Try Again
Enter a Number: 11
Try Again
Enter a Number: 12
Try Again
Enter a Number: 13
Try Again
Enter a Number: 14
Try Again
Enter a Number: 15
Try Again
Enter a Number: 16
Try Again
Enter a Number: 44
Try Again
Enter a Number: 78
Try Again
Enter a Number: 26
Guess is Correct
Your Score is  -12

In [37]:
x=int(input('Enter a Number: '))
sum=0
for i in range(1,x+1):
    sum+=i
print('The sum is ',sum)

Enter a Number: 10
The sum is  55

In [39]:
n=int(input('Enter a Number: '))
sum=(n*(n+1))/2
print('The sum is',sum)

Enter a Number: 100
The sum is 5050.0